/* Allows for easy changes in later code so I dont have to remember hex codes. */
:root {
    --gray: #444444;
    --CadetBlue3: #8ee5ee;
    --CadetBlue4: #53868b;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: var(--gray);
}

nav {
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
    position: relative;
    right: 6rem;
    bottom: 2rem;
}

nav a {
    color: var(--CadetBlue3);
    padding: 14px 20px;
    text-align: center;
}

h1 {
    position: relative;
    display: flex;
    justify-content: end;
    font-size: 3.5rem;
    padding: 5px;
    border: 0px solid;
    width: 22rem;
    top: 1rem;
    color: var(--gray);
    background-color: var(--CadetBlue3);
}

.first_code {
    border: solid;
    height: 200px;
    background-image: url("../images/First_Code.png");
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    border: 10px solid var(--CadetBlue3);
    margin: 5px;
    padding: 5px;
    width: 19rem;
    position: relative;
    left: 65rem;
    top: 6rem;
    background-color: var(--CadetBlue3);
    color: var(--gray);
}

h3 {
    font-size: 4rem;
    border-right: 5px solid var(--CadetBlue4);
    float: left;
    color: var(--CadetBlue4);
    text-align: end;
    margin: 2rem 2rem 0rem 15rem;
    padding: 1rem;
    height: 14rem;
}

p {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 32px;
    top: 2.5rem;
    position: relative;
    width: 87rem;
    color: var(--CadetBlue4);
}

.cards {
    padding: 3rem 5rem 1rem 15.5rem;
    margin: 1rem;
}

h4 {
    font-size: 4rem;
    color: var(--CadetBlue4);
    border-right: 5px solid var(--CadetBlue4);
    float: left;
    margin-top: 3rem;
    padding: 1rem;
    height: 15rem;
}

a {
    text-decoration: none;
    color: var(--CadetBlue4);
    font-size: 20px;
}

.main-card {
    background-image: url(../images/Code-Refactor.png);
    background-size: cover;
    background-position: center;
    display: grid;
    border: 1px solid;
    margin-left: 15rem;
    margin-top: 1rem;
    height: 30rem;
    width: 58rem;
    position: relative;
    opacity: .5;
  }

  .main-card:hover {
    opacity: 1;
    transition: .3s;
  }

  .cr {
    border: 1px solid var(--CadetBlue3);
    background-color: var(--CadetBlue3);
    position: relative;
    padding: 2rem;
    top: -8rem;
    left: 15rem;
  }