/* Allows for easy changes in later code so I dont have to remember hex codes. */
:root {
    --gray: #444444;
    --CadetBlue3: #8ee5ee;
    --CadetBlue4: #53868b;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: var(--gray);
}

nav {
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
    position: relative;
    right: 6rem;
    bottom: 2rem;
}

nav a {
    color: var(--CadetBlue3);
    padding: 14px 20px;
    text-align: center;
}

h1 {
    position: relative;
    display: flex;
    justify-content: end;
    font-size: 3.5rem;
    padding: 5px;
    border: 0px solid;
    width: 22rem;
    top: 1rem;
    color: var(--gray);
    background-color: var(--CadetBlue3);
}

.first_code {
    border: solid;
    height: 200px;
    background-image: url("../images/First_Code.png");
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    border: 10px solid var(--CadetBlue3);
    margin: 5px;
    padding: 5px;
    width: 19rem;
    position: relative;
    left: 65rem;
    top: 6rem;
    background-color: var(--CadetBlue3);
    color: var(--gray);
}

h3 {
    font-size: 4rem;
    border-right: 5px solid var(--CadetBlue4);
    float: left;
    color: var(--CadetBlue4);
    text-align: end;
    margin: 2rem 2rem 0rem 15rem;
    padding: 1rem;
    height: 14rem;
}

p {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 32px;
    top: 2.5rem;
    position: relative;
    width: 87rem;
    color: var(--CadetBlue4);
}

.cards {
    padding: 3rem 5rem 1rem 15.5rem;
    margin: 1rem;
}

h4 {
    font-size: 4rem;
    color: var(--CadetBlue4);
    border-right: 5px solid var(--CadetBlue4);
    float: left;
    margin-top: 3rem;
    padding: 1rem;
    height: 46rem;
}

a {
    text-decoration: underline;
    color: var(--CadetBlue4);
    font-size: 20px;
}

.main-card {
    background-image: url(../images/Code-Refactor.png);
    background-size: cover;
    background-position: center;
    display: grid;
    border: 2px solid var(--CadetBlue4);
    margin-left: 15rem;
    margin-top: 1rem;
    height: 30rem;
    width: 58rem;
    position: relative;
    opacity: .5;
  }

  .card {
    display: flex;
    padding: 1.2rem 1rem;
    background-image: url(../images/Coming_Soon.png);
    background-size: cover;
    background-position: center;
    align-items: center;
    border: 2px solid var(--CadetBlue4);
    height: 5rem;
    width: 420px;
    margin: 1rem;
    opacity: 0.2;
}

    .one {
        margin-left: 15rem;
        margin-bottom: 2rem;
    }

    .two {
        margin-bottom: 2rem;
        float: right;
        position: relative;
        bottom: 170px;
        left: 29px;
    }

    .three {
        position: relative;
        left: 60px;
    }

    .four {
        float: right;
        position: relative;
        bottom: 154px;
        left: 517px;
    }

  .main-card:hover, .card:hover {
    opacity: 1;
    transition: .3s;
  }

  .cr, .c1, .c2, .c3, .c4 {
    border: 1px solid var(--CadetBlue3);
    background-color: var(--CadetBlue3);
    position: relative;
    text-decoration: none;
  }

  .cr {
    padding: 2rem;
    top: -6rem;
    left: 60px;
  }

  .c1 {
    padding: 1rem;
    bottom: 14rem;
    left: 15rem;
  }

  .c2 {
    padding: 1rem;
    bottom: 90px;
    left: 15rem;
  }

  .c3 {
    padding: 1rem;
    bottom: 264px;
    left: 717px;
  }

  .c4 {
    padding: 1rem;
    bottom: 130px;
    left: 717px;
  }

  h5 {
    font-size: 4rem;
    border-right: 5px solid var(--CadetBlue4);
    float: left;
    color: var(--CadetBlue4);
    text-align: end;
    margin: 2rem 2rem 0rem 100px;
    padding: 1rem;
    height: 8rem;
    position: relative;
    left: 83px;
    bottom: 72px;
}

footer a {
        font-size: 1.5rem;
        padding: 1rem;
        color: var(--CadetBlue4);
        position: relative;
        bottom: 1rem;
        left: 6rem;
        text-decoration: underline;
}

@media screen and (max-width: 992px){
    h2 {
        position: relative;
        left: 36rem;
        bottom: 10px;
    }

    h3 {
        border-right: 0px;
        border-bottom: 5px solid var(--CadetBlue4);
        color: var(--CadetBlue4);
        text-align: end;
        margin: 2rem;
        padding: 2.5rem;
        height: 3rem;
        width: 12rem;
        display: flex;
        align-items: center;
    }
    
    p {
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 32px;
        top: 2.5rem;
        position: unset;
        width: 87rem;
        color: var(--CadetBlue4);
    }

    .about {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    h4 {
        border-bottom: 5px solid var(--CadetBlue4);
        border-right: 0px;
        color: var(--CadetBlue4);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 20px;
        position: relative;
        left: 24rem;
    }

    .main-card {
        border: 2px solid var(--CadetBlue4);
        margin-left: 0rem;
        margin-top: 1rem;
        height: 30rem;
      }

      .cards {
        padding: unset;
      }

      .card {
        position: relative;
        left: 138px;
        bottom: unset;
      }

      .one, .two, .three, .four {
        margin-left: 5px;
        margin-bottom: 5px;
      }

      .two, .four {
        float: unset;
      }

      .cr {
        left: unset;
      }

      
      .c1 {
          position: relative;
          left: 144px;
          bottom: 469px;
        }
        
        .c2 {
            position: relative;
            left: 8px;
            bottom: 330px;
        }
        
        .c3 {
            position: relative;
            left: -127px;
            bottom: 192px;
        }
        
        .c4 {
          position: relative;
          left: -262px;
          bottom: 54px;
        }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    h5 {
        border-bottom: 5px solid var(--CadetBlue4);
        border-right: 0px;
        color: var(--CadetBlue4);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-bottom: 1rem;
        position: relative;
        left: 256px;
        bottom: unset;
        width: 16rem;
    }

    footer a {
        font-size: 1.5rem;
        padding: 1rem;
        color: var(--CadetBlue4);
        position: relative;
        bottom: unset;
        left: 6rem;
    }

    a {
        font-size: unset;
    }
}

@media screen and (max-width: 768px) {
    header, nav {
        display: flex;
        flex-direction: column;
        position: unset;

    }

    h1 {
        position: unset;
        display: flex;
        justify-content: center;
        width: unset;
    }

    h2 {
        position: unset;
        width: unset;
    }

    h3 {
        font-size: 2rem;
        border-right: 0px;
        border-bottom: 5px solid var(--CadetBlue4);
        color: var(--CadetBlue4);
        text-align: end;
        margin: 2rem;
        padding: 1rem;
        height: 3rem;
    }
    
    p {
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 32px;
        top: 2.5rem;
        position: unset;
        width: 87rem;
        color: var(--CadetBlue4);
    }

    .about {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    h4 {
        font-size: 2rem;
        border-bottom: 5px solid var(--CadetBlue4);
        border-right: 0px;
        color: var(--CadetBlue4);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 1rem;
        padding: 5px;
        margin-bottom: 1rem;
        position: relative;
        left: 18rem;
        bottom: 84px;
        width: 8rem;
    }

    .main-card {
        border: 2px solid var(--CadetBlue4);
        margin-left: 0rem;
        margin-top: 1rem;
        height: 30rem;
        width: 29rem;
      }

      .cards {
        padding: unset;
      }

      .card {
        position: relative;
        left: 138px;
        bottom: unset;
      }

      .one, .two, .three, .four {
        margin-left: 5px;
        margin-bottom: 5px;
      }

      .two, .four {
        float: unset;
      }

      .cr {
        position: relative;
        left: 138px;
      }

      
      .c1 {
          position: relative;
          left: 144px;
          bottom: 469px;
        }
        
        .c2 {
            position: relative;
            left: 8px;
            bottom: 330px;
        }
        
        .c3 {
            position: relative;
            left: -127px;
            bottom: 192px;
        }
        
        .c4 {
          position: relative;
          left: -262px;
          bottom: 54px;
        }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    h5 {
        font-size: 2rem;
        border-bottom: 5px solid var(--CadetBlue4);
        border-right: 0px;
        color: var(--CadetBlue4);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 1rem;
        padding: 5px;
        margin-bottom: 1rem;
        position: relative;
        left: 186px;
        bottom: unset;
        width: 10rem;
    }

    a {
        font-size: unset;
    }

  }

@media screen and (max-width: 500px) {
    header, nav {
        display: flex;
        flex-direction: column;
        position: unset;

    }

    h1 {
        position: unset;
        display: flex;
        justify-content: center;
        width: unset;
    }

    h2 {
        position: unset;
        width: unset;
    }

    h3 {
        font-size: 2rem;
        border-right: 0px;
        border-bottom: 5px solid var(--CadetBlue4);
        color: var(--CadetBlue4);
        text-align: end;
        margin: 2rem;
        padding: 1rem;
        height: 3rem;
    }
    
    p {
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 32px;
        top: 2.5rem;
        position: unset;
        width: 87rem;
        color: var(--CadetBlue4);
    }

    .about {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    h4 {
        font-size: 2rem;
        border-bottom: 5px solid var(--CadetBlue4);
        border-right: 0px;
        color: var(--CadetBlue4);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 1rem;
        padding: 5px;
        margin-bottom: 1rem;
        position: relative;
        left: 10rem;
        width: 8rem;
    }

    .main-card {
        border: 2px solid var(--CadetBlue4);
        margin-left: 0rem;
        margin-top: 1rem;
        height: 30rem;
        width: 29rem;
      }

      .cards {
        padding: unset;
      }

      .one, .two, .three, .four {
        margin-left: 5px;
        margin-bottom: 5px;
      }

      .one {
        position: unset;
      }

      .two {
        float: unset;
        position: unset;
      }

      .three {
        position: unset;
      }

      .four {
        float: unset;
        position: unset;
      }

      .cr {
        position: relative;
        left: 0px;
      }

      
      .c1 {
          position: relative;
          left: 5px;
          bottom: 469px;
        }
        
        .c2 {
            position: relative;
            left: -130px;
            bottom: 330px;
        }
        
        .c3 {
            position: relative;
            left: -265px;
            bottom: 192px;
        }
        
        .c4 {
          position: relative;
          left: 5px;
          bottom: 69px;
        }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h5 {
        font-size: 2rem;
        border-bottom: 5px solid var(--CadetBlue4);
        border-right: 0px;
        color: var(--CadetBlue4);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 1rem;
        padding: 5px;
        margin-bottom: 1rem;
        position: unset;
        width: 10rem;
    }

    a {
        font-size: unset;
    }

  }